HELP.md
.gradle
build/

!gradlew
!gradlew.bat
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar

!**/src/main/**/build/
!**/src/test/**/build/

.idea/

### DATABASE ###
/src/main/resources/application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# logs
*.log
logs/

# Env
.env

# Build artifacts
*.jar
*.war
*.class

# DB
*.db

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Downloaded files
downloads/

# Firebase service account key
src/main/resources/firebase/serviceAccountKey.json

nubo-whisper/

# cookies (yt-dlp)
/cookies/cookies.txt